<h1>Uptime Monitoring</h1>
<h2>Made simple</h2>
<div class="blurb">Monitors website and alerts user with a SMS when state changes happen. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit harum corrupti laborum quod vel minima libero. Ipsam recusandae expedita, inventore error, hic pariatur blanditiis magnam, dolorem in reprehenderit praesentium. Modi</div>
<div class="ctaWrapper">
  <a href="accounts/create" class="cta green">Get Started</a>
  <a href="session/create" class="cta blue">Login</a>
</div>