<h1>Login To Your Account</h1>
<h2>Enter you credentials</h2>

<div class="formWrapper">
  <form action="/api/tokens" method="POST" id="sessionCreate">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">Phone Number</div>
      <input type="text" name="phone" placeholder="(xx) xxxx-xxxxx" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Your Password</div>
      <input type="password" name="password" />
    </div>
    <div class="inputWrapper">
      <button type="submit" class="cta blue">Login</button>
    </div>
  </form>
</div>